#car {
    position: absolute;
    width: 400px;
    bottom: 0;
    animation-name: leftRight;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.clouds {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    left: 0;
    animation-name: clouds;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes leftRight {
    0% {
        left: 0%;
        transform: rotateY(0);
    }
    50% {
        left: calc(100% - 100px);
    }
    75% {
        transform: rotateY(180deg);
    }
    100% {
        left: 0%;
        transform: rotateY(0);
    }
}
@keyframes clouds {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
    100% {
        left: 0;
    }
}
