#box1 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: red;
    animation-name: leftRight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes leftRight {
    from {
        left: 0%;
    }
    to {
        left: calc(100% - 100px);
    }
}