#box1 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: red;
    animation-name: upDown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes upDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(0%);
    }
}